USE [master]
GO
/****** Object:  Database [Melodika_DB]    Script Date: 27/10/2025 15:59:08 ******/
CREATE DATABASE [Melodika_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Melodika_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Melodika_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Melodika_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Melodika_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Melodika_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Melodika_DB]
GO
/****** Object:  User [alumno]    Script Date: 27/10/2025 15:59:08 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Cancion]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cancion](
	[IdCancion] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Autor] [varchar](50) NOT NULL,
	[Portada] [varchar](50) NOT NULL,
	[Dificultad] [varchar](50) NOT NULL,
	[IdGenero] [int] NOT NULL,
	[Valoracion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cancion] PRIMARY KEY CLUSTERED 
(
	[IdCancion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CancionInstrumento]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CancionInstrumento](
	[IdCancionInstrumento] [int] IDENTITY(1,1) NOT NULL,
	[IdCancion] [int] NOT NULL,
	[IdInstrumento] [int] NOT NULL,
 CONSTRAINT [PK_CancionInstrumento] PRIMARY KEY CLUSTERED 
(
	[IdCancionInstrumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[IdCuenta] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[CorreoElectronico] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[FechaRegistro] [date] NOT NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[IdCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[IdCurso] [int] IDENTITY(1,1) NOT NULL,
	[TituloCurso] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[IdInstrumento] [int] NOT NULL,
	[Foto] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[IdCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ejercicio]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejercicio](
	[IdEjercicio] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionEjercicio] [varchar](50) NOT NULL,
	[TipoEjercicio] [varchar](50) NOT NULL,
	[Dificultad] [varchar](50) NOT NULL,
	[IdCurso] [int] NOT NULL,
 CONSTRAINT [PK_Ejercicio] PRIMARY KEY CLUSTERED 
(
	[IdEjercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoritos]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoritos](
	[IdFavoritos] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdCancion] [int] NOT NULL,
 CONSTRAINT [PK_Favoritos] PRIMARY KEY CLUSTERED 
(
	[IdFavoritos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[IdGenero] [int] IDENTITY(1,1) NOT NULL,
	[NombreGenero] [varchar](50) NOT NULL,
	[DescripcionGenero] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Genero] PRIMARY KEY CLUSTERED 
(
	[IdGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instrumento]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instrumento](
	[IdInstrumento] [int] IDENTITY(1,1) NOT NULL,
	[NombreInstrumento] [varchar](50) NOT NULL,
	[DescripcionInstrumento] [varchar](50) NOT NULL,
	[ProfundidadAprendizaje] [float] NOT NULL,
	[TipoInstrumento] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Instrumento] PRIMARY KEY CLUSTERED 
(
	[IdInstrumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logros]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logros](
	[IdLogros] [int] IDENTITY(1,1) NOT NULL,
	[NombreLogro] [varchar](50) NOT NULL,
	[DescripcionLogro] [varchar](50) NOT NULL,
	[TipoLogro] [varchar](50) NOT NULL,
	[Progreso] [float] NOT NULL,
 CONSTRAINT [PK_Logros] PRIMARY KEY CLUSTERED 
(
	[IdLogros] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Genero] [varchar](50) NOT NULL,
	[FechaNacimento] [date] NOT NULL,
	[FotoPerfil] [varchar](50) NULL,
	[FechaRegistro] [date] NOT NULL,
	[Rol] [varchar](50) NULL,
	[IdCuenta] [int] NOT NULL,
	[Racha] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioGenero]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioGenero](
	[IdUsuarioGenero] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdGenero] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioGenero] PRIMARY KEY CLUSTERED 
(
	[IdUsuarioGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioInstrumento]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioInstrumento](
	[IdUsuarioInstrumento] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdInstrumento] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioInstrumento] PRIMARY KEY CLUSTERED 
(
	[IdUsuarioInstrumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioLogros]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioLogros](
	[IdUsuarioLogros] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdLogro] [int] NOT NULL,
	[FechaObtenido] [date] NOT NULL,
 CONSTRAINT [PK_UsuarioLogros] PRIMARY KEY CLUSTERED 
(
	[IdUsuarioLogros] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cuenta] ON 

INSERT [dbo].[Cuenta] ([IdCuenta], [Username], [CorreoElectronico], [Contraseña], [FechaRegistro]) VALUES (2, N'Prueba', N'prueba@gmail.com', N'prueba', CAST(N'2025-10-27' AS Date))
SET IDENTITY_INSERT [dbo].[Cuenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Logros] ON 

INSERT [dbo].[Logros] ([IdLogros], [NombreLogro], [DescripcionLogro], [TipoLogro], [Progreso]) VALUES (1, N'Primer acierto', N'Respondé correctamente una pregunta de práctica.', N'General', 95)
INSERT [dbo].[Logros] ([IdLogros], [NombreLogro], [DescripcionLogro], [TipoLogro], [Progreso]) VALUES (3, N'Primer paso musical?', N'Completá tu primera lección en Melodika. ', N'General', 95)
INSERT [dbo].[Logros] ([IdLogros], [NombreLogro], [DescripcionLogro], [TipoLogro], [Progreso]) VALUES (6, N'Primer paso musical?', N'Completá tu primera lección en Melodika.', N'General', 95)
SET IDENTITY_INSERT [dbo].[Logros] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Genero], [FechaNacimento], [FotoPerfil], [FechaRegistro], [Rol], [IdCuenta], [Racha]) VALUES (1, N'Usuario Prueba', N'M', CAST(N'2008-11-18' AS Date), N'aaa', CAST(N'2025-10-27' AS Date), N'Usuario', 2, 10)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Cancion]  WITH CHECK ADD  CONSTRAINT [FK_Cancion_Genero] FOREIGN KEY([IdGenero])
REFERENCES [dbo].[Genero] ([IdGenero])
GO
ALTER TABLE [dbo].[Cancion] CHECK CONSTRAINT [FK_Cancion_Genero]
GO
ALTER TABLE [dbo].[CancionInstrumento]  WITH CHECK ADD  CONSTRAINT [FK_CancionInstrumento_Cancion] FOREIGN KEY([IdCancion])
REFERENCES [dbo].[Cancion] ([IdCancion])
GO
ALTER TABLE [dbo].[CancionInstrumento] CHECK CONSTRAINT [FK_CancionInstrumento_Cancion]
GO
ALTER TABLE [dbo].[CancionInstrumento]  WITH CHECK ADD  CONSTRAINT [FK_CancionInstrumento_Instrumento] FOREIGN KEY([IdInstrumento])
REFERENCES [dbo].[Instrumento] ([IdInstrumento])
GO
ALTER TABLE [dbo].[CancionInstrumento] CHECK CONSTRAINT [FK_CancionInstrumento_Instrumento]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Instrumento] FOREIGN KEY([IdInstrumento])
REFERENCES [dbo].[Instrumento] ([IdInstrumento])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Instrumento]
GO
ALTER TABLE [dbo].[Ejercicio]  WITH CHECK ADD  CONSTRAINT [FK_Ejercicio_Curso] FOREIGN KEY([IdCurso])
REFERENCES [dbo].[Curso] ([IdCurso])
GO
ALTER TABLE [dbo].[Ejercicio] CHECK CONSTRAINT [FK_Ejercicio_Curso]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Cancion] FOREIGN KEY([IdCancion])
REFERENCES [dbo].[Cancion] ([IdCancion])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Cancion]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Cuenta] FOREIGN KEY([IdCuenta])
REFERENCES [dbo].[Cuenta] ([IdCuenta])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Cuenta]
GO
ALTER TABLE [dbo].[UsuarioGenero]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioGenero_Genero] FOREIGN KEY([IdGenero])
REFERENCES [dbo].[Genero] ([IdGenero])
GO
ALTER TABLE [dbo].[UsuarioGenero] CHECK CONSTRAINT [FK_UsuarioGenero_Genero]
GO
ALTER TABLE [dbo].[UsuarioGenero]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioGenero_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioGenero] CHECK CONSTRAINT [FK_UsuarioGenero_Usuario]
GO
ALTER TABLE [dbo].[UsuarioInstrumento]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioInstrumento_Instrumento] FOREIGN KEY([IdInstrumento])
REFERENCES [dbo].[Instrumento] ([IdInstrumento])
GO
ALTER TABLE [dbo].[UsuarioInstrumento] CHECK CONSTRAINT [FK_UsuarioInstrumento_Instrumento]
GO
ALTER TABLE [dbo].[UsuarioInstrumento]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioInstrumento_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioInstrumento] CHECK CONSTRAINT [FK_UsuarioInstrumento_Usuario]
GO
ALTER TABLE [dbo].[UsuarioLogros]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioLogros_Logros] FOREIGN KEY([IdLogro])
REFERENCES [dbo].[Logros] ([IdLogros])
GO
ALTER TABLE [dbo].[UsuarioLogros] CHECK CONSTRAINT [FK_UsuarioLogros_Logros]
GO
ALTER TABLE [dbo].[UsuarioLogros]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioLogros_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioLogros] CHECK CONSTRAINT [FK_UsuarioLogros_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[CrearCuenta]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearCuenta]
    @Username VARCHAR(50),
    @CorreoElectronico VARCHAR(50),
    @Contrasenia VARCHAR(50),
    @FechaRegistro DATE
AS
BEGIN


    BEGIN TRY
    IF NOT EXISTS (SELECT 1 FROM Cuenta where @CorreoElectronico = @CorreoElectronico OR Username = @Username)
    BEGIN
        INSERT INTO Cuenta (Username, CorreoElectronico, Contraseña, FechaRegistro)
        VALUES (@Username, @CorreoElectronico, @Contrasenia, @FechaRegistro);

        SELECT SCOPE_IDENTITY() AS IdCuenta; 
    END
    ELSE
    BEGIN
    RETURN -1
    END
    END TRY
    BEGIN CATCH
        RETURN -1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[CrearUsuario]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearUsuario]
    @Username VARCHAR(50),
    @CorreoElectronico VARCHAR(50),
    @Contraseña VARCHAR(50),
    @Nombre VARCHAR(50),
    @Genero VARCHAR(50),
    @FechaNacimiento DATE,
    @FotoPerfil VARCHAR(50) = NULL,
    @Rol VARCHAR(20) = 'Usuario',
    @Racha INT = 0,
	@IdCuenta INT
AS
BEGIN


    BEGIN TRY

        IF EXISTS (SELECT 1 FROM Cuenta WHERE Username = @Username OR CorreoElectronico = @CorreoElectronico)
        BEGIN
            RETURN -1;
        END
		ELSE
		BEGIN
			INSERT INTO Usuario (Nombre, Genero, FechaNacimento, FotoPerfil, FechaRegistro, Rol, IdCuenta, Racha)
			VALUES (@Nombre, @Genero, @FechaNacimiento, @FotoPerfil, GETDATE(), @Rol, @IdCuenta, @Racha);
			SELECT SCOPE_IDENTITY() AS IdUsuario;
		END

	END TRY
		BEGIN CATCH
			RETURN -2
		END CATCH
	END
GO
/****** Object:  StoredProcedure [dbo].[GetCuenta]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCuenta]
@IdCuenta INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Cuenta WHERE IdCuenta = @IdCuenta)
    BEGIN
        SELECT 
		Cuenta.Contraseña,
		Cuenta.CorreoElectronico,
		Cuenta.FechaRegistro,
		Cuenta.IdCuenta,
		Cuenta.Username
        FROM Cuenta 
        WHERE IdCuenta = @IdCuenta;
    END
    ELSE
    BEGIN
        RETURN -1
    END
END
GO
/****** Object:  StoredProcedure [dbo].[GetCursos]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetCursos]

As 
Begin

select Curso.IdCurso, Curso.Foto, Curso.Descripcion, Curso.TituloCurso, Instrumento.NombreInstrumento from Curso 
join Instrumento on Curso.IdInstrumento = Instrumento.IdInstrumento

End
GO
/****** Object:  StoredProcedure [dbo].[GetUsuarioComplejo]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsuarioComplejo]
@IdUsuario INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Usuario WHERE IdUsuario = @IdUsuario)
    BEGIN
        SELECT 
            Usuario.IdUsuario,
            Usuario.Nombre,
            Usuario.FotoPerfil,
            Usuario.Rol,
            Usuario.FechaNacimento,
            Usuario.FechaRegistro,
            Usuario.Genero,
            Usuario.IdCuenta,
            Usuario.Racha
        FROM Usuario 
        WHERE IdUsuario = @IdUsuario;
    END
    ELSE
    BEGIN
        RETURN -1
    END
END
GO
/****** Object:  StoredProcedure [dbo].[GetUsuarioSimple]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsuarioSimple]

@IdUsuario INT

AS
BEGIN
	if exists (select 1 from Usuario where idusuario = @idusuario)
	begin
	SELECT 
	Usuario.IdUsuario, usuario.Nombre, Usuario.FotoPerfil, Usuario.Rol, Usuario.IdCuenta from Usuario where IdUsuario = @idusuario;
	
	end
	ELSE
	    BEGIN
        Return -1
    END
END
GO
/****** Object:  StoredProcedure [dbo].[LoginCuenta]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoginCuenta]
    @CorreoElectronico VARCHAR(50),
    @Contraseña VARCHAR(50)

AS
BEGIN
    DECLARE @IdCuenta INT;

        SELECT @IdCuenta = IdCuenta
        FROM Cuenta
        WHERE CorreoElectronico = @CorreoElectronico AND Contraseña = @Contraseña;

        IF @IdCuenta IS NOT NULL
        BEGIN
            SELECT @IdCuenta AS IdCuenta;
        END
        ELSE
        BEGIN
            SELECT -1 
        END

END
GO
/****** Object:  StoredProcedure [dbo].[seleccionarCancion]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[seleccionarCancion]



AS
BEGIN

	
	SELECT Cancion.IdCancion, Cancion.Autor, Cancion.Portada, Cancion.Titulo, Cancion.Dificultad, Cancion.Valoracion, Genero.NombreGenero from Cancion
	join Genero on Genero.IdGenero = Cancion.IdGenero
	


END
GO
/****** Object:  StoredProcedure [dbo].[seleccionarLogro]    Script Date: 27/10/2025 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[seleccionarLogro]

@idLogro INT

AS
BEGIN
	if exists (select 1 from Logros where IdLogros = @idLogro)
	begin
	SELECT Logros.DescripcionLogro, Logros.TipoLogro, Logros.NombreLogro, Logros.Progreso from Logros
	
	where IdLogros= @idLogro;
	end

	ELSE 
	BEGIN
	return -1
	END
END
GO
USE [master]
GO
